<%= form_for @question do |f| %>

<fieldset>
  <div class="field">
    <%= f.label :query, "Question" %><br />
    <%= f.text_area :query, placeholder: 'Entrez votre question' %><br />
  </div>

  <div class="field">
    <%= f.label :difficulty, "Difficulté de cette question (Facile: 1 / Difficile: 3)" %><br>
    <%= f.number_field :difficulty, in: 1...4 %>
  </div>

  <div class="field">
    <%= f.label :explication, "Entrez une explication qui apparaîtra à la fin du Quiz" %><br>
    <%= f.text_area :explication %>
  </div>

  <div class="field">
    <%= f.label :source_url, "Donnez un lien vers la source de votre information" %><br>
    <%= f.text_field :source_url %>
  </div>
  
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Effacer la question" %>
  
  <%= f.fields_for :answers_set_attributes do |builder| %>
    <%= render 'answer_set_fields', f: builder %>
  <% end %>
</fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>