<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="controls controls-row">
        <%= f.text_field :first_name, class: "span3", placeholder: "Prénom" %>
        <%= f.text_field :last_name, class: "span2", placeholder: "Nom" %>
    </div>

    <div class="controls controls-row">
        <%= f.email_field :email, :autofocus => true, class: "span5", placeholder: "Email"%>
    </div>

<!--    <div class="controls controls-row">
        <!%= f.date_field :birth_date, class: "span4"%-->
    <!--/div-->

    <div class="controls controls-row">
        <%= f.password_field :password, class: "span5", placeholder: "Mot de passe" %>
    </div>


    <div class="controls controls-row">
        <%= f.submit "Commencer un quiz", class: "btn btn-block btn-primary"%>
    </div>
<% end %>


