
  <%= form_for [@challenge, @challenge_step] do |f| %>
    <ul>
      <li class="checkbox">
        <%= f.label @challenge_step.question.answers_set.good_answer %>
          <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
          <%= f.radio_button :chosen_answer, @challenge_step.question.answers_set.good_answer %>
      </li>
      <li class="checkbox">
        <%= f.label @challenge_step.question.answers_set.answer1 %>
          <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox">
          <%= f.radio_button :chosen_answer, @challenge_step.question.answers_set.answer1, class: "button" %>
      </li>

      <li class="checkbox">
        <%= f.label @challenge_step.question.answers_set.answer2 %>
          <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox">
          <%= f.radio_button :chosen_answer, @challenge_step.question.answers_set.answer2 %>
      </li>

      <li class="checkbox">
        <%= f.label @challenge_step.question.answers_set.answer3 %>
          <input type="checkbox" value="" id="checkbox4" data-toggle="checkbox">
          <%= f.radio_button :chosen_answer, @challenge_step.question.answers_set.answer3 %>
      </li>

      <%= f.submit "Question suivante", class: "btn btn-block btn-primary" %>
    </ul>
<% end %>
