
<!-- Shortcuts -->
	<% challenge = @challenge %>
	<% steps = @challenge.challenge_steps %>


<!-- Score du Challenge  -->
<section>
  <div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h4 class="titletop">Résultats</h4>
              <h3 style="text-align:center;">Vous avez eu <%= @challenge.score %> / <%= steps.count %> bonnes réponses</h3>

              <br>

							<% if @available_questions.count == 0 %>
								<%= link_to "Vous avez fini tous les quiz disponibles cette semaine ! Retour à l'accueil", 
								challenges_path, 
								class: "btn btn-default btn-lg" %>

							<% else %>
								<%= link_to "Commencer un nouveau challenge", 
								new_challenge_path, 
								class: "btn btn-default btn-lg" %>

							<% end %>

            </div>

            <div class="col-md-5"></div>
        </div>							
  	</div>
  </div>
</section>





<!-- #################################### DATAVIZ ##################################################  -->

        <!--%= render "dataviz" %-->


<!-- #################################### DETAILS ##################################################  -->
	<!-- Question / Réponse choisie / Bonne réponse  -->

<div class="results">

	<% steps.each do |cs| %>
		
		<section class="answers">
		  <div class="container">
	      <div class="row">
	        
	        <div class="col-md-12">
	            <h1 class="query"><%= cs.question.query %></h1>
	        
	        		<div >
								<% if cs.chosen_answer == cs.question.answers_set.good_answer %> 
									<p class="btn btn-success">
										<span class="glyphicon glyphicon-ok"></span>
										Vous avez choisi la bonne réponse : <%= cs.chosen_answer %> 
									</p>

								<% else %>
								<p class="btn btn-danger">
									<span class="glyphicon glyphicon-remove"></span>
									Réponse choisie : <%= cs.chosen_answer %>  
								</p>

								<p class="btn btn-default">
									<span class="glyphicon glyphicon-ok"></span>
									Bonne réponse : <%= cs.question.answers_set.good_answer %>  
								</p>

								<% end %>
							</div>
		      </div>

		      <div>
		      	<div class="explications">
			      	<p>
			      		<%= link_to(cs.question.explication, cs.question.source_url, class:"btn btn-default") %>
			      	</p>
		      	</div>
		      </div>

	      </div>
		  </div>
		</section>

	<% end %>
</div>
</div>









