<!-- Shortcuts -->
	<% challenge = @challenge %>
	<% steps = @challenge.challenge_steps %>
	<% @challenge.challenge_steps.select('question_id') %>


<!-- En-tête -->
	<h2>RESULTATS</h2>

	<p>
	  <strong>Hey <%= current_user.first_name %>, tu as eu <%= @challenge.score %> bonnes réponses à ce challenge !</strong>
	</p>

	<br/>

##################################################


<!-- Détail des résultats -->

<h2>Un petit feedback pour éclairer ta lanterne</h2>

	<%= steps.each do |cs| %>
		<p> La question : <%= cs.question.query %> </p>
		<p> Les réponses possibles : 
			- <%= cs.question.answers_set.good_answer %> 
			- <%= cs.question.answers_set.answer1 %>
			- <%= cs.question.answers_set.answer2 %>
			- <%= cs.question.answers_set.answer3 %>
		</p>
		<p> Ta réponse : <%= cs.chosen_answer%> </p>
		<p> La bonne réponse : <%= cs.question.answers_set.good_answer %> </p>
		<p> Les autres utilisateurs ont été X/X à bien répondre à cette question ! </p>
		<p> Une explication sur cette question : <%= cs.question.explication %> </p>
		<p> La source de notre information : <%= cs.question.source_url %> </p>
		<p> La difficulté de cette question : <%= cs.question.difficulty %> </p>

		###########

	<% end %>




##################################################

<!-- Un autre quiz -->

<p>
	<% if @available_questions.count == 0 %>
		<%= link_to "Vous avez fini tous les quiz disponibles cette semaine ! Retour à l'accueil", challenges_path, class: "btn btn-default btn-lg" %>
	<% else %>
		<%= link_to "Commencer un nouveau challenge", new_challenge_path, class: "btn btn-default btn-lg" %>
		<%= link_to "Retour à l'accueil", challenges_path, class: "btn btn-default btn-lg" %>
	<% end %>
</p>





