<link rel="stylesheet" href="/samples/sample-05/css/style.css">

<!-- Shortcuts -->
	<% challenge = @challenge %>
	<% steps = @challenge.challenge_steps %>
	


<!-- Score du Challenge  -->
<section class="header-17-sub text-center">
  <div class="background">&nbsp;</div>
  <div class="container">
      <div class="row">
          <div class="span10 offset1">
              <div class="hero-unit">
                  <h1><%= @challenge.score %> / 10</h1>
                  <p>C'est vraiment pas mal</p>
              </div>

							<% if @available_questions.count == 0 %>
								<%= link_to "Vous avez fini tous les quiz disponibles cette semaine ! Retour à l'accueil", 
								challenges_path, 
								class: "btn btn-huge btn-clear" %>

							<% else %>
								<%= link_to "Commencer un nouveau challenge", 
								new_challenge_path, 
								class: "btn btn-huge btn-clear" %>

							<% end %>

          </div>
      </div>
  </div>
</section>


<!-- Question / Réponse choisie / Bonne réponse  -->
<% steps.each do |cs| %>
	
	<section class="content-3">
	  <div class="container">
      <div class="row">
        <div class="span10 offset1" style="text-align:center">

        		<!-- Intitulé de la question  -->
            <h6><%= cs.question.query %></h6>
        </div>

				<div class="span10 offset1" style="text-align:center">
					<div class="btns">

						<!-- Réponse choisie  -->
						<p class="btn btn-danger btn-clear">
							<%= cs.chosen_answer %>  
							<span class="fui-cross"></span>
						</p>

						<!-- Bonne réponse (si différente de la réponse choisie)  -->
						<p class="btn btn-success">
							<%= cs.question.answers_set.good_answer %>  
							<span class="fui-check"></span>
						</p>
					</div>
				</div>

      </div>
	  </div>
	</section>


<!-- Pie Chart pour connaître le pourcentage d'utilisateurs ayant choisi chaque réponse -->

	<script src="_results.js" type="text/javascript"></script>

			<!-- Difficulté / En savoir plus -->





<!-- Explications -->
	<section class="content-2">
  <div>               
      <div class="container">                 
          <h3>Quelques explications</h3>
          <div class="row">
              <div class="span6 offset3">
                  <p>
                    <%= cs.question.explication %>
                  </p>        
              </div>
          </div>
      </div>
  </div>
</section>

<% end %>


	

